<h1>Products & Services</h1><br />
<section class="col-10 offset-1">
	<table>
	<tbody>
			<tr>
				<td>
					<h2>Product/Service</h2>
				</td>
				<td class="description-td">
					<h2>Description</h2>
				</td>
				<td> 
					<h2>Cost</h2>
				</td>
			</tr>
		</tbody>
	</table>
	<% @products.each do |product| %>
		<table>
			<tbody>
				<tr>
					<td>
						<%= product.name %>
					</td>
					<td class="description-td">
						<%= product.description %><br>
					</td>
					<td> 
						<%= product.cost %><br>
					</td>
				</tr>
			</tbody>
		</table>
		<hr /> <br />
	<% end %>
</section>
<br />
<center>
	<%=link_to new_product_path, class: 'btn btn-primary' do %>
		Add a New Product
	<% end %>
</center>
